/* Typical Device Breakpoints

small screens: 600px max
cellphone: 600px -> 768px max
tablet: 768px -> 992px max
desktop: 992px -> 1200px
big screens: up 1200px

*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    #log {
        width: 70vw;
    }

    #imgd {
        float: left;
        width: 30%;
        height: 100%;
    }

    #formu {
        float: right;
        width: 70%;
    }

}

@media screen and (min-width: 992px) {

    #log {
        width: 700px;
    }

    #imgd {
        float: right;
        width: 45%;
        height: 100%;
    }

    #formu {
        float: left;
        width: 55%;
    }

}