body {
    height: 100vh;
    background: black url(/imgs/wallpaper002.jpg) center top no-repeat fixed;
    background-size: cover;
}

main {
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px dashed darkred;
    border-radius: 12px;
}